<div class="mdt-chat-card mdt-item-card">
  <header class="mdt-chat-card-header">
    <h3 class="item-card-name">{{item.name}}</h3>
  </header>
  {{#if system.description}}
    <div class="item-card-desc">
      {{{system.description}}}
    </div>
  {{/if}}
  {{#if isSpell}}
    <div class="item-card-meta">
      <span class="mdt-pill item-card-level">
        {{localize "MDT.spell.levelLabel"}}:
        {{#if isHighLevel}}
          {{localize "MDT.spell.levelHigh"}}
        {{else}}
          {{localize "MDT.spell.levelLow"}}
        {{/if}}
      </span>
      {{#if freeUse}}
        <span class="mdt-pill item-card-free-use">{{localize "MDT.spell.freeUseCheckbox"}}</span>
      {{else}}
        <span class="mdt-pill item-card-uses">
          {{localize "MDT.spell.usesLabel"}}: {{remainingUses}} / {{maxUses}}
        </span>
        {{#if (eq remainingUses 0)}}
          <span class="mdt-pill item-card-empty-uses">{{localize "MDT.spell.emptyUsesShort"}}</span>
        {{/if}}
      {{/if}}
    </div>
  {{/if}}
</div>