<div class="mdt-chat-card mdt-item-card">
  <header class="mdt-chat-card-header">
    <h3 class="item-card-name">{{item.name}}</h3>
  </header>
  {{#if system.description}}
    <div class="item-card-desc">
      {{{system.description}}}
    </div>
  {{/if}}
  {{#if system.level}}
    <div class="item-card-meta">
      <span class="mdt-pill item-card-level">
        {{localize "MDT.spell.levelLabel"}}:
        {{#if (eq system.level "high")}}
          {{localize "MDT.spell.levelHigh"}}
        {{else}}
          {{localize "MDT.spell.levelLow"}}
        {{/if}}
      </span>
    </div>
  {{/if}}
</div>