<form class="{{cssClass}} mad-dragon-turbo" autocomplete="off">

  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" 
         data-edit="img" title="{{actor.name}}" />
    <div class="header-fields">
      <h1>
        <input name="name" type="text" value="{{actor.name}}" />
      </h1>
      <input name="system.conceito" type="text" 
             value="{{system.conceito}}" 
             placeholder="{{localize 'MDT.conceito'}}" />
    </div>
  </header>

  <section class="sheet-body">
    <p>Ficha em construção!</p>
  </section>

</form>